downloads/
.gradle/
gradle/
log/
out/
jre/
build/
.idea/workspace.xml
config.json
print-job-success-cache.json
print-job-success-cache.json.tmp
/local-print-device-context.json
/local-print-device-context.json.*.tmp
*.exe
